.empty {
  background: wheat;
}

.robot {
  background: grey;
}

.target {
  background: green;
}

.obstacle {
  background: brown;
}

.path {
  background: orange;
}

.environment {
  display: grid;
  grid-gap: 1px 1px;
  grid-template-rows: repeat(30, 19px);
  grid-template-columns: repeat(30, 19px);
}
