
.grid-container {
    padding: 5%;
}

.info-section {
    display: inline-block;
    height: 100%;
    width: 25%;
    text-align: center;
    vertical-align: top;
    margin-right: 50px;
}

.grid-section {
    display: inline-block;
    width: 70%;
}

.grid {
    background-color: black;
    display: grid;
    grid-gap: 1px 1px;
    height: 800px;
    width: 800px;
    grid-template-rows: repeat(40, 19px);
    grid-template-columns: repeat(40, 19px);
}

.buttons {
    margin: 20px 140px;
}

span {
    text-align: center;
    margin-bottom: 10px;
}

button {
    margin-right: 10px;
}

.start-button {
    display: block;
    margin: 50px auto;
}

.cell-info {
    margin: 20px;
    padding: 0 25%;
    text-align: left;
}