
.grid-container {
    padding: 5% 25%;
}

.grid {
    background-color: black;
    display: grid;
    grid-gap: 1px 1px;
    height: 800px;
    width: 800px;
    grid-template-rows: repeat(40, 19px);
    grid-template-columns: repeat(40, 19px);
}

.buttons {
    margin-top: 20px;
}